.menu {
    background: #000;
    background-size: cover;
    width: 100%;
    height: 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 910;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;

    .menu-header {
        display: flex;
        justify-content: space-between;

        .menu-logo {
            width: 14rem;
        }

        h6 {
            color: #fff;
        }

        img {
            opacity: 0;
            visibility: hidden;
        }
    }

    .menu-links {
        display: flex;
        flex: 1;
        width: 100%;
        align-items: center;
        justify-content: center;

        ul {
            padding: 0;
            margin: 0;

            li {
                list-style: none;
                opacity: 0;
                visibility: hidden;
                text-align: center;

                a {
                    font-size: 4.2rem;
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }

    .menu-footer {
        justify-content: center;
        text-align: center;

        p {
            margin-bottom: 0;
            font-size: 1.4rem;
            color: #FFFFFF40;
        }
    }
    
}

// Menu Control
.close-menu {
    transform: translateY(-3px);
    cursor: pointer;
    color: #fff;
}

.open-menu {
    transform-origin: right;
    height: 16px;
    transition: all .3s ease-in-out; 
}