body {
    overflow: hidden;
}

.preload {
    background: #000;
    background-size: cover;
    z-index: 90;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    span {
        width: 10rem;
        height: 10rem;
        border-radius: 40px;
        color: #fff;
        display: flex;
        transform-origin: top;
        z-index: 10;
        position: relative;
        font-size: 2rem;
        padding: 2rem;
    }
}

@keyframes cameraPan {
    0% {
        transform: translateX(-2%);
    }
    25% {
        transform: translateX(2%);
    }
    50% {
        transform: translateY(2%);
    }
    75% {
        transform: translateY(-2%);
    }
    100% {
        transform: translateX(-2%);
    }
}