@import 'https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css';
@import 'https://unpkg.com/swiper/swiper-bundle.css';

body { font-family: 'Open Sans', sans-serif; color: #666666; background-color: #fafbfc; overflow-x: hidden; }
a:link, a:hover, a:active, a:focus, a:visited { text-decoration: none; }
* { outline: none !important; box-sizing: border-box !important; }
a:focus { outline: none !important; }

html {
    scroll-behavior: initial !important;
}

// .webapp {
//     overflow: visible;
// }

p {
	color: #6a6a6a;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	margin-bottom: 30px;
	font-family: 'Open Sans', sans-serif;
}
	p strong { font-weight: 600; }

.remove-padding { padding: 0; }
.remove-right { padding-right: 0; }
.clearfix:before, .clearfix:after, .row:before, .row:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; } .row:after, .clearfix:after {clear: both; } .row, .clearfix {zoom: 1; } .clear {clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; } .clear5 {clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 5px; } .clear10 {clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 10px; } .clear15 {clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 15px; } .clear20 {clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 20px; } .clear25 {clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 25px; } .clear30 {clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 30px; } .clear35 {clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 35px; } .clear40 {clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 40px; } .clear45 {clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 45px; } .clear50 {clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 50px; } .clear60 {clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 60px; } .lfloat {float: left } .rfloat {float: right }
.row { margin-bottom: 0; }
.box-shadow { box-shadow: 10px 20px 30px rgba(0,0,0,.15); border-radius: 0 0 60px 0; }
.container { max-width: 95%; width: 1410px; }
.container-fluid { max-width: 1580px; }

.master-wrap {
	/* max-width: 1580px; */
	margin: auto;
	position: relative;
}

.add-m-top { margin-top: 40px; }

/* DEFAULT */

h2 {
	font-size: 60px;
	color: #08325c;
	line-break: 66px;
	font-family: 'Playfair Display', sans-serif;
} 
	h2 span { color: #ec6707; }

h3 {
	font-size: 42px;
	color: #08325c;
	line-break: 46px;
	margin-bottom: 30px;
	font-family: 'Playfair Display', sans-serif;
} 
	h3 span { color: #ec6707; }
	h3 small { 
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		text-transform: uppercase;
		font-weight: 400;
		display: block;
		color: #a9a9a9;
		letter-spacing: 12px;
	}

h4 {
	color: #08325c;
	font-weight: 600;
	font-size: 22px;
	line-height: 24px;
	margin-bottom: 30px;
	margin-top: 0;
}

h5 {
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 20px;
}

.button-border {
	background: none;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	border: 1px solid #ea5b0c;
	font-weight: 400;
	height: 65px;
	line-height: 65px;
	text-align: center;
	padding: 0 60px;
	display: inline-block;
	transition: all .3s ease-in-out;
}
	.button-border:hover { background: #ea5b0c; color: #fff; }

.button-default {
	background: #0b539b;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	border: 1px solid #0b539b;
	font-weight: 400;
	height: 65px;
	line-height: 65px;
	text-align: center;
	padding: 0 60px;
	display: inline-block;
	transition: all .3s ease-in-out;
}
	.button-default:hover { background: #08325c; color: #fff; }

.link-simple { color: #ec6707; font-size: 14px; text-transform: uppercase; transition: all .3s ease-in-out; }
.link-simple:hover { text-decoration: underline; }

/* HEADER */

header { 
	padding: 20px 0; 
	background: #fff; 
	box-shadow: 0 0 30px rgba(0,0,0,.1); 
	position: relative; 
	z-index: 10; 
}

.list-menu { text-align: right; margin-top: 20px; }
.list-menu li { list-style: none; display: inline-block; margin-right: 50px; }
.list-menu li a { color: #000; font-size: 16px; line-height: 26px; transition: all .3s ease-in-out; font-weight: 500;}
.list-menu li a:hover { color: #ec6707; }

/* BANNER */

.banner { background: #f1f4f9; }
.banner img { min-width: 1100px; }

/* */

.bg-blue { background: #08325c; }
.bg-blue .row div { padding: 100px 0 80px; }
.bg-blue p { font-size: 22px; line-height: 28px; color: #fff; }

.bg-blue.solicitar-contato .solicitar-contato-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.bg-light { background: #f1f4f9 !important; padding: 80px 0; }

.box-icon { text-align: center; background: #fff; padding: 30px; height: 320px; }
.box-icon span { color: #08325c; font-size: 22px; font-weight: 600; display: block; margin: 20px 0 30px; }

.bg-white { background: #fff; padding: 80px 0; }

.box-mazzolli { padding: 80px; padding-right: 440px; background: #f1f4f9; position: relative; margin-top: 70px; }
.img-video { position: absolute; top: -70px; left: 70%; }

.bg-dark-blue { padding: 80px 0; background: #08325c; }
.bg-dark-blue h3 { color: #fff; margin-bottom: 40px; }
.bg-dark-blue span { font-size: 50px; color: #f37135; font-weight: 200; }
.bg-dark-blue p { font-size: 18px; color: #fff; opacity: .7; }

.box-equipe { text-align: center; padding: 0 30px; }
.equipe-info { background: #fff; padding: 40px 20px; text-align: center; }
.equipe-info span { color: #000000; font-size: 22px; display: block; line-height: 22px; }
.equipe-info small { font-size: 12px; color: #f37135; text-transform: uppercase; }

.info { display: flex; flex-direction: row; align-items: center; justify-content: center; text-align: left; }
.info img { margin-right: 20px; }
.info span { font-size: 18px; display: block; line-height: 18px; }
.info small { font-size: 18px; color: #fff; font-weight: 400; }

.info-img {
	height: 60px;
	width: 60px;
	overflow: hidden;
	margin-right: 10px;
}

.info-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.box-blog { margin-bottom: 45px;}
.blog-image {
	width: 100%;
	height: 180px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.blog-image img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.blog-infos { padding: 30px; background: #fff; }
.blog-title { display: block; font-size: 22px; margin-bottom: 20px; color: #000000; }
.blog-date { font-size: 11px; color: #000; }
.blog-details { display: flex; flex-direction: row; justify-content: space-between; padding-top: 15px; border-top: 1px solid #ccc; }


.box-question { border: 1px solid #d6d6d6; padding: 20px; border-radius: 10px; cursor: pointer; margin-bottom: 10px; }
.question-header { font-size: 18px; color: #000; position: relative; }
.question-header span { 
	font-size: 30px; 
	color: #ef7b28; 
	position: absolute; 
	top: 5px; 
	right: 10px; 
	line-height: 18px; 
	font-weight: 600; 
}
.question-header span::after { content: '+'; }
.active .question-header span::after { content: '-'; }

.question-body { display: none; margin-top: 15px; }


.pre-footer { background: #f1f4f9 !important; padding: 40px 0; }
.pre-footer p { margin: 0; line-height: 28px; color: #000; }

.pre-footer p a { 
	margin: 0; 
	line-height: 28px; 
	color: #000; 
	transition: all .8s ease-in-out;
}

.pre-footer p a:hover {
	color: #000; 
	font-weight: 600;
}

.list-social { padding: 0; list-style: none; }
.list-social li { list-style: none; display: inline-block; margin-left: 20px; }

footer { padding: 65px 0 25px;  background: #08325c; }
footer a { display: block; margin-bottom: 0; font-size: 15px; color: #fff; }
.footer-menu a { opacity: .7; }



.box-text { padding: 40px 0; margin: 20px 0; border-top: 1px solid #395b7d; border-bottom: 1px solid #395b7d; }
.box-text p { margin: 0; line-height: 28px; color: #fff; font-size: 15px; }


.copyright p { color: #fff; font-size: 15px; margin: 0; }
.copyright a { display: inline-block; opacity: 1; margin: 0; }
.copyright a:hover { text-decoration: underline !important; color: #fff; }


.box-select {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 22px;
	color: #000;
	font-weight: 200;
	justify-content: flex-end;
	margin-top: 30px;
}
.box-select select {
	background: none;
	border: none;
	border-bottom: 1px solid #000;
	border-radius: 0 !important;
	-webkit-appearance: none;
	appearance: none;
	margin-left: 15px;
	padding-right: 20px;
}

.list-pagination { text-align: center; }
.list-pagination div { list-style: none; display: inline-block; margin: 0; margin-left: -6px; }
.list-pagination div a {
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	color: #d2d3d6;
	border: 2px solid #d2d3d6;
	border-radius: 2px;
	transition: all .3s ease-in-out;
	position: relative;
}
	.list-pagination div a:hover { color: #064f98; border-color: #064f98; z-index: 10; }


.box-post .blog-image { height: 380px; }


.box-newsletter { padding: 60px; background: #08325c; margin: 40px 0; }
.box-newsletter h4 { color: #fff; margin-bottom: 10px; }
.box-newsletter p { color: #fff; line-height: 28px; font-size: 16px; }


.box-newsletter form input {
	width: 100%;
	height: 50px;
	line-height: 50px;
	padding: 20px;
	border: none;
	margin-bottom: 15px;
}
.box-newsletter form button {
	background: #064f98;
	color: #fff;
	height: 65px;
	border: none;
	cursor: pointer;
	width: 100%;
	text-align: center;
}

.link-social {
	height: 50px;
	line-height: 50px;
	color: #fff;
	font-size: 22px;
	display: inline-block;
	margin: 0 5px;
	background: #ccc;
	width: 90px;
	text-align: center;
}


.bg-interna { background: #08325c; padding: 80px 0; }
.bg-interna p { color: #fff; }
.bg-interna p a { display: block; color: #fff; text-decoration: underline; }
.bg-interna h3 { color: #fff; margin-bottom: 80px; }
.bg-interna span { 
	font-size: 22px;
	color: #fff;
	font-weight: 400;
	display: block;
	margin-bottom: 20px;
}
.bg-interna span img { margin-right: 15px; }


.form-default input {
	width: 100%;
	height: 50px;
	line-height: 50px;
	border: 1px solid #b9b9b9;
	border-radius: 4px;
	padding: 0 15px;
	margin-bottom: 30px;
}
.form-default select {
	width: 100%;
	height: 50px;
	line-height: 50px;
	border: 1px solid #b9b9b9;
	border-radius: 4px;
	padding: 0 15px;
	margin-bottom: 30px;
	-webkit-appearance: none;
	appearance: none;
}
.form-default svg {
	position: absolute;
	top: 20px;
	right: 30px;
}
.form-default textarea {
	width: 100%;
	height: 150px;
	border: 1px solid #b9b9b9;
	border-radius: 4px;
	padding: 15px;
	margin-bottom: 30px;
}
.form-default input[type=file] { display: none; }

.box-projects {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	padding-right: 30px;
}
.box-projects span {
	color: #08325c;
	font-size: 22px;
	display: block;
	margin-bottom: 5px;
}
.box-projects img { margin-right: 20px; }

.curriculo {
	background: none;
	color: #0b539b;
	font-size: 14px;
	text-transform: uppercase;
	border: 1px solid #0b539b;
	font-weight: 400;
	height: 65px;
	line-height: 65px;
	text-align: center;
	padding: 0 60px;
	display: inline-block;
	transition: all .3s ease-in-out;
	cursor: pointer;
	margin-bottom: 20px;
}
	.curriculo img { margin-right: 10px; }
	.curriculo:hover { background: #dedede; border-color: #dedede; color: #0b539b; }

.slick-slide { overflow: hidden; }

.slick-prev, .slick-next {
	position: absolute;
	z-index: 100;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}
.slick-prev { left: 0; }
.slick-next { right: 0; }

.box-services { padding-left: 80px; position: relative; margin-bottom: 50px; }
.box-services img { position: absolute; left: 0; top: 0; mix-blend-mode: multiply; }
.box-services span { color: #08325c; font-size: 22px; font-weight: 600; display: block; margin: 20px 0; }

#empresa .bg-blue .row div { padding: 0 15px; }
#empresa .bg-blue { padding: 80px 0; }
.bg-blue h3 { color: #fff; margin-bottom: 40px; }
#empresa .bg-blue p { opacity: .7; font-size: 16px; }

.logo svg {
	width: 70%;
}


/* -------- MENU MOBILE --------- */



.mobile-menu {
    background:#ffffff;
    background-size: cover;
    width: 100%;
    height: 0;
    position: fixed;
    left:  0;
    top: 0;
    z-index: 910;
    padding: 30px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
}

.mobile-menu .button-secundary {
    width: auto;
    text-align: center;
    background: #0f427b;
    color: #fff;
}

.mobile-menu .button-secundary:hover {
    width: auto;
    text-align: center;
    background: #fff;
    color: #0f427b !important;
}

.mobile-menu-header {
    display: flex;
    justify-content: space-between;
}

.mobile-menu-footer {
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
}

.mobile-menu-footer div a {
    display: inline-block;
    padding: 20px;
    border: 1px solid var(--color-dark);
    color: var(--color-cornflower-blue);
    font-size: 18px;
    text-decoration: none;
    margin: 0 15px 0 0;
    width: auto;
    transition: all .3s ease-in-out;
    font-weight: 600;
}

.mobile-menu-footer div a img {
    margin-right: 5px;
}

.mobile-menu-footer a.active {
    opacity: 1;
}

.mobile-menu-header img {
    opacity: 0;
    visibility: hidden;
}

.mobile-menu-list {
    display: flex;
    flex: 1;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
}

.mobile-menu-list ul {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.mobile-menu-list li {
    list-style: none;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-dark);
    padding: 20px 0;
}


.mobile-menu-list li a {
    font-size: 30px;
    line-height: 35px;
    text-decoration: none;
    color: var(--color-cornflower-blue);
}

.mobile-menu-footer div

.mobile-menu-footer div a:hover {
    border: 1px solid#0078ff;
}

.mobile-menu-list li img {
    margin-left: 20px;
    width: 25px;
}

.close-menu {
    transform: translateY(-3px);
    cursor: pointer;
    color: #000;
}

.mobile-menu-logo svg {
	width: 170px;
}



.layer-video {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0 0 0 / 80%);
    width: 100%;
    height: 100vh;
    z-index: 150;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}

.layer-video iframe {
    width: 60%;
    height: 60%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.close-video {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.open-video {
    cursor: pointer;
}

.video-empresa {
	position: relative;
}

.footer-menu {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.redes-sociais-footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.redes-sociais-footer a {
	display: flex;
	justify-content: center;
	align-items: center;
}

.redes-sociais-footer svg {
	margin: 0 10px;
}

.footer-menu h5 {
	margin-bottom: 0;
	transition: all .3s ease-in-out;
}

.footer-menu a:hover {
	color: #f37135;
}

.mobile-version {
	display: none;
}

.clientes {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.video-home {
	position: absolute;
	left: 70%;
	top: -100px;
	width: 540px;
	height: 580px;
	overflow: hidden;
}

.bg-home-video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.button-play {
	position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    margin: auto;
    width: 95px;
    height: 95px;
	z-index: 2;
}

.banner .video-empresa {
    position: absolute;
    width: 50%;
    left: 50%;
    height: calc(100vh - 119px);
}

.row.empresa-page {
	height: calc(100vh - 119px);
}

.banner .video-empresa .button-play img {
	min-width: 95px;
}

@media (max-width: 768px) { 
	.master-wrap { overflow: hidden; }

	h2 { font-size: 30px; }
	h3 { font-size: 28px; }

	.button-default { padding: 0 20px; text-align: center; width: 100%; }

	.bg-light, .bg-white, .bg-dark-blue, footer { padding: 30px 0; }

	.logo img { max-width: 100%; }
	.list-menu { display: none; }
	
	
	.banner .container { margin: 0; }
	.banner-holder { padding: 0; margin-bottom: 20px; }
	.banner-holder img { width: 100%; min-width: 110%; }

	.bg-blue { padding: 30px 0; text-align: center; }
	.bg-blue p {
		font-size: 16px;
		line-height: 34px;
		color: #fff;
		text-align: center;
	}
	.bg-blue p br { display: none; }
	.bg-blue .row div { 
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		width: 100%;
		flex-direction: column;
	 }

	.box-icon { margin-bottom: 20px; height: auto; }

	.box-mazzolli {
		padding: 30px;
		background: #f1f4f9;
		position: relative;
		margin-top: 0;
	}
	.img-video {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		margin-top: 30px;
	}

	.box-equipe { margin-bottom: 20px; padding: 0; }
	.box-equipe img { max-width: 100%; }

	.question-header { padding-right: 30px; }

	footer { text-align: center; }
	footer .text-right { text-align: center !important; }
	footer .col { display: none; }
	.box-text {
		padding: 30px 0;
		margin: 0 0 30px;
	}
	

	.mobile-menu-header img {
        max-width: 177px;
    }

	.logo svg {
		width: 170px;
	}

	.open-menu svg {
		stroke: black;
    	transform: translateY(5px);
	}

	.layer-video iframe {
		width: 90%;
		height: 190px;
	}

	.clientes {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px;
	}

	.clientes div {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.clientes div img {
		width: 90%;
	}

	.bg-white .title-mobile {
		margin-bottom: 0;
	}

	.footer-menu {
		margin: 30px 0 0;
		height: auto;
		flex-direction: column;
	}

	.redes-sociais-footer {
		height: auto;
		margin: 30px 0;
	}

	footer svg {
		width: 80px;
	}

	.mobile-version {
		display: block;
	}

	.desktop-version {
		display: none;
	}

	.banner img {
		min-width: inherit;
		height: 100%;
		object-fit: cover;
		width: calc(100% + 20px);
		width: 100%;
	}

	.banner .video-empresa {
		position: absolute;
		width: 100%;
		left: 0;
		height: 320px;
	}

	.conheca {
		width: 100%;
	}
	
	.slick-prev, .slick-next {
		top: 23%;
	}

    .bg-blue.solicitar-contato .solicitar-contato-content {
        flex-direction: column;
    }

	.footer-menu a {
		margin-bottom: 15px;
	}

	.button-play {
		width: 70px;
		height: 70px;
	}

	.banner .video-empresa .button-play img {
		min-width: auto;
	}

	.box-services img {
		width: 30px;
	}

	.box-services {
		padding-left: 40px;
	}

	.order-2 {
		transform: translateY(55px);
	}

	#servicos .order-2 {
		transform: translateY(0);
	}

	.row.empresa-page {
		height: calc(100vh - 180px);
	}

	.curriculo {
		width: 100%;
	}

	.form-default label {
		width: 100%;
	}

	.box-select {
		font-size: 18px;
		justify-content: space-between !important;
		margin-top: 15px;
	}

	.blog-details {
		flex-direction: column;
		padding: 20px 0 !important;
	}

	.box-newsletter {
		padding: 30px;
		margin: 20px 0;
	}
}

