.area-boilerplate {
    .boilerplate-container {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h2 {
        color: #fff;
        font-weight: 600;
        font-size: var(--title-32);
        margin-bottom: 3rem;
    }

    p {
        font-weight: 300;
        color: #FFFFFF40;
    }
}

.module-tip {
    background: #252729;
    border-radius: 10px;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 8rem;
    line-height: 8rem;
    margin-bottom: 1rem;

    .tip-icon {
        margin-right: 2rem;
        width: 4rem;
        height: 4rem;
        background: #74ab72;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            transform: scale(.8);
        }
    }

    .tip-title {
        color: #fff;
        font-size: 1.6rem;
        font-weight: 500;

        span {
            font-size: 1.4rem;
            color: #74ab72;
            display: inline-block;
            background: #00000020;
            padding: 0 .5rem;
            margin: 0 .5rem;
            height: 2.5rem;
            line-height: 2.5rem;
            border-radius: 6px;
        }
    }
}